.peliculas-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.peliculas-section h2 {
    width: 100%;
}

.peliculas-section .buttons {
    width: 100%;
    text-align: center;
}

.peliculas-section .MuiCardActions-root{
    justify-content: space-between;
}